.accordion-item {
    margin-bottom: 4px;
    background-color: $gray-600;
}

.accordion-button {
    background-color: $gray-600;
    color: #FFF;
    &::after {
        background-image: url('../images/plus.svg');
    }
    &:not(.collapsed) {
        color: #FFF;
        font-weight: bold;
        background-color: $gray-800;
        &::after {
            background-image: url('../images/minus.svg');
        }
    }
}

.accordion-body {
    color: #FFF;
}