.t-t1 {
    color: #FFF;
    font-size: 2.2rem;
    font-weight: bold;
    text-align: center;
}

.t-t3 {
    color: #FFF;
    font-size: 1.6rem;
    font-weight: 400;
    text-align: center;
    margin-bottom: 16px;
}

//paragraf
.t-p1 {
    color: #FFF;
    font-size: 1.3rem;
    text-align: center;
}

.t-p2 {
    color: #FFF;
    font-size: 1.1rem;
    text-align: center;
}

.t-p3 {
    color: #FFF;
    font-size: 0.85rem;
    text-align: center;
}