.cardJob {
    margin-bottom: 8px;
    &__title {
        font-size: 0.9rem;
        color: $gray-600;
        text-transform: uppercase;
    }
    &__desc {
        font-size: 0.75rem;
        color: #FFF;
        margin-bottom: 2px;
    }
    &__link {
        font-size: 0.75rem;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}