$primary: #278AFF;
$secondary: #006FF3;
$success: #27FF30;
$info: #8cc1ff;
$warning: #FF9C27;
$danger: #FF2737;
$light: #f2f3f5;
$dark: #212121;
body {
    font-family: 'Rubik', serif;
    overflow-x: hidden;
}

.btn {
    color: #FFF !important;
}